h1 {
  font-family: 'Unica One', cursive;
}

.unicorn-horn {
  animation: …;
  stroke-dasharray: 11124.371px; /* The length of the stroke */
  stroke-dashoffset: 11124.371px; /* The length of the stroke */
}

}


#narwhal-body {

}

#narwhal-eye {

}

#rainbow-violet {

}

#rainbow-indigo {

}

#rainbow-blue {

}

#rainbow-green {

}

#rainbow-yellow {

}

#rainbow-orange {

}

#rainbow-red {

}

@keyframes sliding {

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {

  to {
    opacity: 1;
  }

}
